{% extends "blog/base.html" %} {% block content %} {% for m in messages %}
<li{% if message.tags %} class="{{ message.tags }}" {% endif %}>{{ m }}</li>
    {% endfor %}
    <article class="media content-section">
        <div style="background-color: rgb(234, 236, 236);" class="media-body fa-border ">
            <div class="article-metadata">
                <a class="mr-2" href="#">{{ post.author }}</a>
                <small class="text-muted">{{ post.date_posted|date:"F d, Y" }}</small>
            </div>

            <h2 class="article-title">{{ post.title }}</h2>
            <p class="article-content">{{ post.content }}</p>
            {% if object.author == user and user.is_authenticated %}
            <a class="btn btn-primary" href="{% url 'post-update' object.id %}">Update</a>
            <a class="btn btn-danger ml-2" href="{% url 'post-delete' object.id %}">Delete</a> {% endif%}
        </div>
    </article>
    {% endblock content %}